/* 
 .declaration-order {
    Positioning 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

    Box-model
  display: block;
  float: right;
  width: 100px;
  height: 100px;

    Typography 
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

    Visual
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

    Misc 
  opacity: 1;
}
*/
html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box; 

    font-family: 'Inter', sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #000000;
} 

.content-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 56px;

    background-color: black;
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.25));
}


.nav-item {
    list-style-type: none;
    display: inline-block;
}

.menu {
   font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    margin-right: 30px;
}

.menu a{
    color: #FFFF6C;
}

.navbar a:hover{
    color: #FFFF6C;
}

.navbar a.active{
    color: #FFFF6C;
}

.navbar a:visited { 
    color: #FFFF6C;
}

.navbar a:link {
    color: #FFFF6C;
}

.navbar-toggler-icon { 
    background-image: url('menu.svg'); 
} 

.navbar-toggler:focus {
    box-shadow: 0 0 0 0rem;
}

.navbar-nav .nav-link {
    padding-left: 15px;
    line-height: 20px;

}

.navbar-brand {
    margin-left: 41px;
    padding: 0;
}

.navbar-brand img{
    height: 41px;
}
.nav-link {
    margin-right: 10px;
}

.intro span{
    position: absolute;
 
    right: 213px;
    bottom: 922px;
    left: 50px;
    top: 170px;

    width: 930px;
    height: 131px;
 
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height:65px;
    /* 65px or 91% */

    letter-spacing: 0.7px;

    color: #FFE600;

}

.galaxy {
    position: static; 
    background-image: url('purpgalaxy2.svg'); 
    background-size: cover; 
    height: 765px; 
    width: 100%; 
    filter: blur(1px); 
 
    z-index: 0;
}

.cube{
    position: absolute;
    right: 0px;
    top: 30px;
    bottom: 450px;

    width: 938px; 
    height: 919px;
}

.floor {
    background-image: url('floor.svg'); 
    background-size: cover; 
    height: 622px; 
    width: 100%; 
    position: relative;
    bottom: 74px;

    
    margin-bottom: 75px;


    z-index: 1;
}

.pjbg {
    background-image: url('pjbg.png'); 
    background-size: cover; 
    height: 100%; 
    width: 100%; 
 
    z-index: 0;
}

.container {
    padding-right: 0;
    padding-left: 0;
    z-index: 1;
}

.card {
    background-color: #241D31;
    border: none;
    border-radius: 16px 16px 16px 16px;
    max-width: 1140px;

    margin-bottom: 60px;
}

.card-title {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */

    color: #ffffff;

    margin-bottom: 0px;
}

.tag {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;


    color: #D2D2D2;
}

.card-body {
    padding-left: 45px;
    padding-top: 26px;
    padding-right: 0px;
    padding-bottom: 0px;

    background: #241D31;
}

.card-text {
    font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #ffffff;

    margin-top: 23px;
    margin-bottom: 37px;
}

.card .row {
    margin-right: 0;
}

#Projtn {
    border-radius: 16px 0px 0px 16px;
}

.btn-primary {
    height: 30.044082641601562px;
    width: 143.35105895996094px;
    left: 790.720703125px;
    top: 1733.3681640625px;

    padding-bottom: 0px;
    padding-top: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;

    background: linear-gradient(0deg, #070644, #070644);
    border-radius: 0;
}

.btn-primary a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 0.5px;

    color: rgb(255, 255, 255);

    text-decoration: none;

}

#Disabled {
    opacity: 0.4;
}

.sbg {
    background: #E8C64E;
    height: 8582px;
}

section {  /* 
    display: flex;
    position: relative;
    flex-direction: column; */

    display: block;
    width: 100%;
}

.section_hero {
    height: 1000px;
}

.title {
    position: relative;
    left: 9vw;
    top: 98px;

    width: 318px;
    height: 64px;
    
    font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    /* identical to box height, or 100% */
    
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Text / Gray 900 */
    
    color: #18191F;
}

.tags {
    position: relative;
    left: 60.9vw;
    top: 132px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 193px;
    height: 24px;
}

.prt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: rgba(0, 0, 0, 0.63);


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2px;
}

.sls {

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 48px;
    line-height: 24px;
    /* identical to box height, or 50% */


    color: rgba(0, 0, 0, 0.63);
    opacity: .6;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 2px;
}

.prt2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: rgba(0, 0, 0, 0.63);


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 2px;
}

.ps {
    position: relative;

    margin: 170px auto 0 6%;
}

.rect {
    position: absolute;
    width: 110%;
    height: 703px;
    left: 4%;
    top: 177px;
    
    border: 3px solid #000000;
    box-sizing: border-box;
}

.showcase {
    position: absolute;
    left: -28vw;
    top: 188px;

    width: 416px;
    height: 811px;

    filter: drop-shadow(10px 15px 20px rgba(26, 26, 27, 0.35));
}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
}

.content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.desc {
    left: 12vw;
    top: 208px;

    width: 727px;
    height: 599px;
}

.content hr {

    opacity: .7;

    background: #000000;
    border: 2px solid #000000;

    /* Inside Auto Layout */

    flex: none;
    align-self: stretch;
    margin: 8px 0px;
}

.dt {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    width: 727px;
    height: 184px;
    left: 0px;
    top: 0px;
    margin: 0px 46px 96px 0px;


    /* Inside Auto Layout */

    flex: 0 1 auto;
    order: 0;
}

.dt div {
    flex: 1 0 0%;
}

.desc h5 {
    /* info */

   font-family: 'Inter', sans-serif; 
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 32px;

   font-feature-settings: 'salt' on, 'liga' off;

   color: #000000;
}

.desc p {
    /* desc */

   font-family: 'Inter', sans-serif; 
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   /* or 162% */

   font-feature-settings: 'salt' on, 'liga' off;

   color: #000000;
}


.brief {
    /* Auto Layout */

    position: relative;
    width: 520px;
    height: 319px;
    left: 0px;
    margin: 96px 0px;

    /* Inside Auto Layout */

    order: 1;
    flex: 0 1 auto;
}

.section_ps {
    height: 1016px;
}

.bng {
    justify-content: center;
}

.intro2 {
    position: relative;
    height: 233px;
    width: auto;
    
    min-width: 453px;
    max-width: 1000px;

    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.title2 {
    height: 48px;
    
    /* Medium 36 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;

    min-width: 310px;
    /* identical to box height, or 133% */
    
    
    color: #000000;
}

section hr {
    opacity: .8;
    margin: 5px 0 12px;
    background: #000000;
    border: 2px solid #000000;
    width: 80%;
    max-width: 580px;

    /* Inside Auto Layout */

    flex: none;
    align-self: stretch;
}

.title2 hr {
    min-width: 375px;
}

.title2 p {
    min-width: 479px;
    max-width: 1000px;
}

.rect2 {
    position: relative;
    
    margin: 75px auto 0;

    width: 1006px;
    height: 449px;

    border: 3px solid #000000;
    box-sizing: border-box;

    /* top: 550px; */
}

.showcase2 {
    position: relative;
    width: 867px;
    height: 474.32px;
    left: 11px;
    

    margin: 32px auto 0 auto;

    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

.showcase2 img {
    margin-right: 31px;
    flex: 1 1 auto;
}

.section_rs {
    height: 1100px;
}

.rs {
    position: relative;

    margin: 170px auto 0 6%;
}

.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    
    font-feature-settings: 'salt' on, 'liga' off;
    
    color: #000000;

    max-width: 521px;
}

.p1 {
    position: relative;
    margin: 61px auto 120px 6%;
}

.p2 {
    position: relative;

    margin: 38px 0 ;
    
} 

.subtitle p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    min-width: 220.07px;
    max-width: 287.57px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #000000;

}

.persona {
    position: relative;
    width: 519px;
    height: 190px;


    /*     left: 187px;
    top: 815px; */
    
    min-width: 519px;
    margin: 30px 71px 30px 0px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.15);

    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.avatar {
    position: relative;
    left: 39%;
    top: -50%;

    width: 130px;
    height: 130px;
}

quote {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #18191F;
}

.quote {
    position: relative;
    left: -42.82%;
    top: 11.58%;

    white-space: pre;
    text-align: center;
}

.quote span {
    position: relative;
    left: 18.7%;

    width: auto;
    max-width:296px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    white-space: nowrap;
    color: #000000;

}

.quote p {
    position: relative;
    left: 47%;
    top: -8.89%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    white-space: nowrap;
    color: #000000;
}

#ps2 span{
    position: relative;
    left: 22%;
    width: auto;
    max-width: 296px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    white-space: nowrap;
    color: #000000;
}

.s1 {
    position: relative;

    margin: 70px auto 0 6%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    
    font-feature-settings: 'salt' on, 'liga' off;
    
    color: #000000;
}

.ins {
    left: 114px;
    margin: 0 auto 0 337px;
}

.insight div {
    position: relative;

    width: 299px;
    height: 206px;

    margin: 0 103px 0 0;

    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.15);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.insight span {
    position: relative;
    width: 235px;
    height: 215px;

    margin-top: 12%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    
    font-feature-settings: 'salt' on, 'liga' off;
    
    color: #18191F;

    text-align: center;
    align-self: center;
}

.insight p {
    position: relative;
    width: 45px;
    height: 32px;

    top: 50px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 32px;
    /* identical to box height, or 33% */
    

    color: #000000;
}

.idtn {
    height: 1300px;
}

.idt {
    position: relative;
    margin: 169px auto 60px 6%;
}

.collage {
    display: block;
    max-width: 2912px;
    max-height: 929px;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.pt {
    height: 6290px;
}

.ptt {
    position: relative;

    margin: 197px auto 0 6%;
}

.showcase3 {
    position: relative;
    margin: 100px auto 195px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.showcase3 img {
    width: auto;
    height: 923.87px;

    filter: drop-shadow(14px 10px 25px rgba(41, 41, 42, 0.31));
}

.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    align-self: center;

    margin: 0px 0px 100px 208px;
}

.page span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    
    text-decoration-line: underline;
    font-feature-settings: 'salt' on, 'liga' off;
    
    color: #18191F;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 16px;
}

.page p {
    /* Body / Body 1 */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    font-feature-settings: 'salt' on, 'liga' off;
    white-space: pre-line;
    color: #18191F;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.rr {
    flex-direction: row-reverse;
}

.rr .page {
    margin: 0px 208px 100px 0;
}
                                                            /* End */

footer {
    background-color: #000000;

    position: absolute;
    width: 100%;
  /*   height: 216px;*/
    height: auto;
    left: 0;
}

.line {
    height: 1px;
    background: #CDD1D4;
}

footer p {
    color: #ffffff;
    margin-bottom: 7px;
}

footer img {
    margin-top: 37px;
    margin-bottom: 15px;
}

/* X-Small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) { 
    .navbar-collapse
    {
        background-color:#0e0d0d;
    }  

    .navbar-nav {
        margin-bottom: 16px;
    }

    .intro span{
        font-size: 35px !important;
        margin-left: 10px;
        line-height: 37px !important;
    }

    #Projtn{
        height: 372px !important;
        width: 543px !important;

        border-radius: 0px 0px 0px 0px;
    }

}


/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) { 

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .cube {
        left: calc(75% - 550px) !important;
    }

    .intro span{ 
        font-size: 47px;
        line-height: 45px;
        width: 930px !important;
        left: 20px !important;
    }

    .card-img{
        height: 302px !important;
        width: 329px !important;
    }

    .tmpph {
        height: 327px !important;
        width: 235px !important;
    }
 }


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Medium devices (landscape phones, less than 992px)  */
@media (max-width: 991.98px) { 
    .cube {
        top: 140px;
        width: 800px;
        height: auto;
    }

    
    .intro span{ 
        left: 40px;
        width: 430px;
    }

    .card-img{
        height: 276px;
        width: 360px;
    }

    .tmpph {
        height: 302px;
        width: 310px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card-img{
        height: 276px;
        width: 404px;
    }
 }

/* Large devices (landscape phones, less than 1200px)  */
@media (max-width: 1199.98px) { 

}


/* X-Large devices (desktops, 1200px and up) */
 @media (min-width: 1200px) { 
    .card-img{
        height: 269px !important;
        width: 465px !important;
    }

    .title {
        left: 4vw;
    }

    .tags {
        left: 61vw;
    }

    .rect {
        left: 4%;
    }

    .showcase {
        left: -22vw;
    }

    .desc {
        left: 12vw;
    }



}
 
/* X-Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    .cube {
        left: calc(75% - 500px);
    }
}
/* XX-Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .cube {
        left: calc(75% - 450px);
    }

    .floor{
        height: calc(41vw * 1)
    }

    #Projtn{
        height: 269px;
        width: 465px;
    }

    .col-sm-5 {
        width: 470px;
    }

    .title {
        left: 19% !important;
    }

    .showcase {
        left: -16px !important;
    }

    .desc {
        left: 30vw  !important;
    }

    .rect {
        left: 19% !important;
    }

    .tags {
        left: 63vw !important;
    }
 }