body {
    font-size: 14px;
    color: #0e0d0d;
    font-family: 'Inter'; 
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;

    background-color: #0e0d0d;
} 

.nav-container {
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 100;
    top: 0;
    height: 80px;

    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.25));
}


.nav-item {
    list-style-type: none;

    display: inline-block;
}

.menu {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    margin-right: 30px;
}

.menu a{
    color: #FFFF6C;
}

.navbar a:hover{
    color: #FFFF6C;
}

.navbar a.active{
    color: #FFFF6C;
}

.navbar a:visited { 
    color: #FFFF6C;
}

.navbar a:link {
    color: #FFFF6C;
}

.navbar-toggler-icon { 
    background-image: url('menu.svg'); 
} 

.navbar-toggler:focus {
    box-shadow: 0 0 0 0rem;
}

.navbar-nav .nav-link {
    padding-left: 15px;
    line-height: 20px;

}

.navbar-brand {
    margin-left: 41px;
}

.nav-link {
    margin-right: 10px;
}

.intro span{
    position: absolute;
 
    right: 213px;
    bottom: 922px;
    left: 50px;
    top: 170px;

    width: 930px;
    height: 131px;
 
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height:65px;
    /* 65px or 91% */

    letter-spacing: 0.7px;

    color: #FFE600;

}

.galaxy {
    position: static; 
    background-image: url('purpgalaxy2.svg'); 
    background-size: cover; 
    height: 765px; 
    width: 100%; 
    filter: blur(1px); 
 
    z-index: 0;
}

.cube{
    position: absolute;
    right: 0px;
    top: 30px;
    bottom: 450px;

    width: 938px; 
    height: 919px;
}

.floor {
    background-image: url('floor.svg'); 
    background-size: cover; 
    height: 622px; 
    width: 100%; 
    position: relative;
    bottom: 74px;

    
    margin-bottom: 75px;


    z-index: 1;
}

.pjbg {
    background-image: url('pjbg.png'); 
    background-size: cover; 
    height: 100%; 
    width: 100%; 
 
    z-index: 0;
}

.container {
    padding-right: 0;
    padding-left: 0;
    z-index: 1;
}

.card {
    background-color: #241D31;
    border: none;
    border-radius: 16px 16px 16px 16px;

    margin-bottom: 60px;
}

.card-title {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */

    color: #ffffff;

    margin-bottom: 0px;
}

.tag {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;


    color: #D2D2D2;
}

.card-body {
    padding-left: 45px;
    padding-top: 26px;
    padding-right: 0px;
    padding-bottom: 0px;

    background: #241D31;
}

.card-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #ffffff;

    margin-top: 23px;
    margin-bottom: 37px;
}

.card .row {
    margin-right: 0;
}

#Projtn {
    border-radius: 16px 0px 0px 16px;
}

.btn-primary {
    height: 30.044082641601562px;
    width: 143.35105895996094px;
    left: 790.720703125px;
    top: 1733.3681640625px;

    padding-bottom: 0px;
    padding-top: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;

    background: linear-gradient(0deg, #070644, #070644);
    border-radius: 0;
}

.btn-primary a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 0.5px;

    color: rgb(255, 255, 255);

    text-decoration: none;

}

#Disabled {
    opacity: 0.4;
}

footer {
    background-color: #000000;

    position: absolute;
    width: 100%;
  /*   height: 216px;*/
    height: auto;
    left: 0;
}

.line {
    height: 1px;
    background: #CDD1D4;
}

footer p {
    color: #ffffff;
    margin-bottom: 7px;
}

footer img {
    margin-top: 37px;
    margin-bottom: 15px;
}

/* X-Small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) { 
    .navbar-collapse
    {
        background-color:#0e0d0d;
    }  

    .navbar-nav {
        margin-bottom: 16px;
    }

    .intro span{
        font-size: 35px !important;
        margin-left: 10px;
        line-height: 37px !important;
    }

    #Projtn{
        height: 372px !important;
        width: 543px !important;

        border-radius: 0px 0px 0px 0px;
    }

}


/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) { 

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .cube {
        left: calc(75% - 550px) !important;
    }

    .intro span{ 
        font-size: 47px;
        line-height: 45px;
        width: 930px !important;
        left: 20px !important;
    }

    .card-img{
        height: 302px !important;
        width: 329px !important;
    }

    .tmpph {
        height: 327px !important;
        width: 235px !important;
    }
 }


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Medium devices (landscape phones, less than 992px)  */
@media (max-width: 991.98px) { 
    .cube {
        top: 140px;
        width: 800px;
        height: auto;
    }

    
    .intro span{ 
        left: 40px;
        width: 430px;
    }

    .card-img{
        height: 276px;
        width: 360px;
    }

    .tmpph {
        height: 302px;
        width: 310px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card-img{
        height: 276px;
        width: 404px;
    }
 }

/* Large devices (landscape phones, less than 1200px)  */
@media (max-width: 1199.98px) { 

}


/* X-Large devices (desktops, 1200px and up) */
 @media (min-width: 1200px) { 
    .card-img{
        height: 269px !important;
        width: 465px !important;
    }
}
 
/* X-Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    .cube {
        left: calc(75% - 500px);
    }
}
/* XX-Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .cube {
        left: calc(75% - 450px);
    }

    .floor{
        height: calc(41vw * 1)
    }

    #Projtn{
        height: 269px;
        width: 465px;
    }
 }